Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

improve render condition
  src/features/ship/detail/ship-detail-refresh.component.tsx
  src/features/ship/list/ship-list-refresh.component.tsx
  src/features/waypoint/market/waypoint-market-preferences.component.tsx
Due: eslint --fix

don’t await ship list query
  src/routes/fleet/fleet.loader.ts
Due: eslint --fix

rename get ship item function
  src/features/ship/select-field/ship-item-reducer.helper.ts
  src/features/ship/select-field/ship-select-field.component.tsx
Due: eslint --fix

use translation strings for table headers
  public/locales/en/common.json
  src/features/system/list/system-table.component.tsx
  src/features/waypoint/list/waypoint-table.component.tsx
  src/features/waypoint/market/waypoint-market-table.component.tsx
Due: eslint --fix, prettier --write

create ship list table component
  src/features/ship/list/ship-list.component.tsx
  src/features/ship/list/ship-list.table.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

add table header translation strings
  public/locales/en/common.json
  src/features/ship/list/ship-list.table.tsx
Due: eslint --fix, prettier --write

add sorting to ship table columns
  src/features/ship/list/ship-list.table.tsx
Due: eslint --fix

show mutation state on ship table row
  src/features/ship/list/ship-list.table.tsx
Due: eslint --fix

fix ship action label
  src/features/ship/item/ship-item.controls.tsx
Due: eslint --fix

update bar size and position
  src/features/ship/list/ship-list.table.tsx
Due: eslint --fix

add translation strings for waypoint navigation table
  public/locales/en/common.json
  src/features/waypoint/list/waypoint-table.component.tsx
  src/features/waypoint/navigation/waypoint-navigation.table.tsx
Due: eslint --fix, prettier --write

add scroll restoration
  src/routes/core.route.tsx
Due: eslint --fix

update translation string key
  public/locales/en/common.json
  src/features/ship/cargo/ship-cargo-list.component.tsx
Due: eslint --fix, prettier --write

update register modal size
  src/features/auth/register/register.component.tsx
Due: eslint --fix

use button component in ship control actions
  src/features/ship/item/ship-item.controls.tsx
Due: eslint --fix

add button kind prop
  src/features/ship/item/ship-item.controls.tsx
Due: eslint --fix

create responsive components and hooks
  src/components/responsive/breakpoints.conf.ts
  src/components/responsive/index.ts
  src/components/responsive/responsive.component.tsx
  src/components/responsive/responsive.types.ts
  src/components/responsive/use-responsive.hook.ts
Due: eslint --fix

switch ship list display based on media query
  src/features/ship/list/ship-list.component.tsx
Due: eslint --fix

ship list should never be empty
  src/features/ship/list/ship-list.component.tsx
Due: eslint --fix

update for loop
  src/hooks/use-container-query.hook.ts
Due: eslint --fix

create container query hooks
  src/components/responsive/index.ts
  src/components/responsive/use-container-query.hook.ts
  src/components/responsive/use-responsive.hook.ts
Due: eslint --fix

use container query to switch ship list components
  src/features/ship/list/ship-list.component.tsx
Due: eslint --fix

remove unnecessary grid container
  src/routes/contracts/contract/contract.route.tsx
  src/routes/contracts/contracts.route.tsx
  src/routes/fleet/fleet.route.tsx
  src/routes/fleet/ship/loadout/ship-loadout.route.tsx
  src/routes/fleet/ship/market/ship-market.route.tsx
  src/routes/fleet/ship/ship.route.tsx
  src/routes/leaderboard/agent/agent.route.tsx
  src/routes/leaderboard/leaderboard.route.tsx
Due: eslint --fix

move spacetraders labels from constants into i18n namespaces
  public/locales/en/spacetraders.contact_type.json
  public/locales/en/spacetraders.crew_rotation.json
  public/locales/en/spacetraders.engine_type.json
  public/locales/en/spacetraders.faction_trait.json
  public/locales/en/spacetraders.flight_mode.json
  public/locales/en/spacetraders.frame.type.json
  public/locales/en/spacetraders.module_type.json
  public/locales/en/spacetraders.mount_type.json
  public/locales/en/spacetraders.nav_status.json
  public/locales/en/spacetraders.reactor_type.json
  public/locales/en/spacetraders.ship_type.json
  public/locales/en/spacetraders.survey_size.json
  public/locales/en/spacetraders.system_type.json
  public/locales/en/spacetraders.trade_good.json
  public/locales/en/spacetraders.trade_supply.json
  public/locales/en/spacetraders.waypoint_modifier.json
  public/locales/en/spacetraders.waypoint_trait.json
  public/locales/en/spacetraders.waypoint_type.json
  src/config/constants.ts
  src/services/i18n.ts
Due: eslint --fix, prettier --write

update use of constants to use translation functions
  src/features/contract/item/contract-item.component.tsx
  src/features/contract/item/deliver-contract.component.tsx
  src/features/contract/list/contract-list.component.tsx
  src/features/ship/detail/ship-detail.component.tsx
  src/features/ship/item/ship-item.component.tsx
  src/features/ship/list/ship-list.table.tsx
  src/features/ship/survey-extract/ship-survey-item.component.tsx
  src/features/system/detail/system-detail.component.tsx
  src/features/system/item/system-item.component.tsx
  src/features/system/list/system-table.component.tsx
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/info/trade-good-info.component.tsx
  src/features/trade-good/sell/trade-good-sell.component.tsx
  src/features/trade-good/sell/trade-good-sell.form.tsx
  src/features/waypoint/detail/waypoint-detail.component.tsx
  src/features/waypoint/item/waypoint-item.component.tsx
  src/features/waypoint/list/type-filter.component.tsx
  src/features/waypoint/list/waypoint-table.component.tsx
  src/features/waypoint/market/waypoint-market-table.component.tsx
  src/features/waypoint/navigation/waypoint-navigation.table.tsx
Due: eslint --fix

allow horizontal scroll for smaller screen sizes
  src/features/ship/list/ship-list.table.tsx
  src/features/system/list/system-table.component.tsx
  src/features/waypoint/list/waypoint-table.component.tsx
  src/features/waypoint/market/waypoint-market-table.component.tsx
  src/features/waypoint/navigation/waypoint-navigation.table.tsx
Due: eslint --fix

remove container query usage
  src/features/ship/list/ship-list.component.tsx
Due: eslint --fix

use ship list table in systems and waypoints
  src/features/system/fleet/system-fleet.component.tsx
  src/features/waypoint/fleet/waypoint-fleet-list.component.tsx
Due: eslint --fix

update loader http error checking
  src/routes/contracts/contract/contract.loader.ts
  src/routes/contracts/contracts.loader.ts
  src/routes/dashboard/dashboard.loader.ts
  src/routes/fleet/fleet.loader.ts
  src/routes/fleet/ship/loadout/ship-loadout.loader.ts
  src/routes/fleet/ship/market/ship-market.loader.ts
  src/routes/fleet/ship/ship.loader.ts
  src/routes/leaderboard/agent/agent.loader.ts
  src/routes/systems/system/system.loader.ts
  src/routes/systems/systems.loader.ts
  src/routes/systems/waypoint/waypoint.loader.ts
Due: eslint --fix

add custom context separator
  src/services/i18n.ts
Due: eslint --fix

update auth components to use translation strings
  public/locales/en/common.json
  src/features/auth/auth.layout.tsx
  src/features/auth/login/login.component.tsx
  src/features/auth/login/login.validation.ts
  src/features/auth/register/register.component.tsx
Due: eslint --fix, prettier --write

update status values to use a translation keys
  src/hooks/use-space-traders-status.hook.ts
Due: eslint --fix

add relative time translation strings
  public/locales/en/common.json
  src/utilities/date.ts
Due: eslint --fix, prettier --write

add more translation strings for markets snf fleets
  public/locales/en/common.json
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/system/fleet/system-fleet.empty.tsx
  src/features/system/tabs/system-tabs.component.tsx
  src/features/waypoint/fleet/waypoint-fleet.empty.tsx
  src/features/waypoint/market/waypoint-market-list.component.tsx
  src/features/waypoint/market/waypoint-market.layout.tsx
  src/features/waypoint/market/waypoint-market.not-available.tsx
Due: eslint --fix, prettier --write

add accessibility text
  src/features/system/list/system-table.component.tsx
Due: eslint --fix
