Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

use has trait helper
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/waypoint/tabs/waypoint-tabs.component.tsx
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay.market.route.ts
Due: eslint --fix

update translation strings
  public/locales/en/common.json
Due: prettier --write

implement new ship condition stats
  src/features/ship/status/ship-status.component.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove use callback
  src/components/toast/toast.container.tsx
Due: eslint --fix

update browser tracing integration
  src/services/sentry.ts
Due: eslint --fix

remove redundant outlet
  src/routes/conf/_dashboard/_authenticated/fleet.route.ts
  src/routes/conf/_dashboard/agents.route.ts
  src/routes/conf/_dashboard/systems.route.ts
Due: eslint --fix

update global not found to default not found
  src/routes/router.conf.ts
Due: eslint --fix

remove theme manager for tailwind v4
  src/routes/core.route.tsx
Due: eslint --fix

replace postcss with tailwind vite plugin
  postcss.config.cjs
  vite.config.ts
Due: eslint --fix

update no missing import rule for tailwind vite module
  .eslintrc.cjs
Due: none

remove theme preference for now
  src/components/preferences/preferences.component.tsx
Due: eslint --fix

update snapshots
  src/components/system/tag/system-tag.spec.tsx
  src/components/waypoint/tag/waypoint-tag.spec.tsx
Due: eslint --fix

switch to tailwindcss v4 setup
  src/styles/button.css
  src/styles/input.css
  src/styles/tabs.css
  src/styles/tailwind.css
  src/styles/typography.css
  styles/components/button.scss
  styles/components/input.scss
  styles/components/label.scss
  styles/components/link.scss
  styles/components/tabs.scss
  tailwind.config.cjs
Due: prettier --write

remove old tab styles
  src/features/ship/tabs/ship-tabs.component.tsx
Due: eslint --fix

remove tailwind references
  .eslintrc.cjs
  tsconfig.node.json
Due: prettier --write

include test files with ts project
  .eslintrc.cjs
  tsconfig.json
Due: prettier --write

add initial turbo set up
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

extend css properties with custom properties
  env.d.ts
Due: eslint --fix

add prefers color scheme responsive component
  src/components/responsive/index.ts
  src/components/responsive/responsive.component.tsx
  src/components/responsive/responsive.types.ts
Due: eslint --fix

fix maximum update depth issue
  src/components/modal/modal.root.tsx
  src/components/modal/modal.store.ts
Due: eslint --fix

create use prefers color scheme query hook
  src/components/responsive/use-responsive.hook.ts
Due: eslint --fix

update use modal context hook default arguments
  src/components/modal/use-modal-store.hook.ts
Due: eslint --fix

move theme atom out of prefers color scheme responsive component
  src/components/app/app.component.tsx
  src/components/responsive/responsive.component.tsx
Due: eslint --fix

convert component styles to new custom properties approach
  src/styles/base.css
  src/styles/button.css
  src/styles/components/button.css
  src/styles/components/input.css
  src/styles/components/tabs.css
  src/styles/components/typography.css
  src/styles/input.css
  src/styles/main.css
  src/styles/spacetraders.css
  src/styles/tabs.css
  src/styles/tailwind.css
  src/styles/typography.css
Due: prettier --write

create tabs component based on radix primitives
  src/components/tabs/index.ts
  src/components/tabs/tabs.content.tsx
  src/components/tabs/tabs.list.tsx
  src/components/tabs/tabs.root.tsx
  src/components/tabs/tabs.trigger.tsx
Due: eslint --fix

add dark and light theme token files
  public/css/dark.css
  public/css/light.css
Due: prettier --write

remove old tests
  src/components/badge/badge.spec.tsx
  src/components/system/tag/system-tag.spec.tsx
  src/components/waypoint/tag/waypoint-tag.spec.tsx
Due: eslint --fix

update css code splitting and chunk file names
  vite.config.ts
Due: eslint --fix

remove old tailwind apply classes
  src/styles/components/typography.css
Due: prettier --write

use object mapping over plain strings
  env.d.ts
  src/config/spacetraders.ts
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/ship/status/ship-status.component.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
  src/features/waypoint/tabs/waypoint-tabs.component.tsx
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay.market.route.ts
  src/types/spacetraders.d.ts
Due: eslint --fix

remove unused file
  src/features/waypoint/shipyard/index.ts
  src/features/waypoint/shipyard/waypoint-shipyard-item.component.tsx
Due: eslint --fix

fix preferences button colour
  src/components/preferences/preferences.component.tsx
Due: eslint --fix

fix app name typography style
  src/templates/dashboard.tpl.tsx
Due: eslint --fix

more classname updates
  src/components/_Modal/Modal.Dialog.tsx
  src/components/preferences/preferences.component.tsx
  src/components/table/table.component.tsx
  src/features/auth/auth.layout.tsx
  src/features/navigation/navigation.component.tsx
  src/features/ship/actions/ship-actions.scan-waypoints.tsx
  src/features/ship/cargo/ship-cargo-list.columns.tsx
  src/features/ship/list/ship-list.columns.tsx
  src/features/ship/loadout/ship-loadout-item.component.tsx
  src/features/ship/loadout/ship-loadout-list.component.tsx
  src/features/ship/transit/ship-transit.status.tsx
  src/features/system/list/waypoints-cell.component.tsx
  src/features/trade-good/buy/trade-good-buy.form.tsx
  src/features/trade-good/info/trade-good-info.component.tsx
  src/features/trade-good/sell/trade-good-sell.form.tsx
  src/features/waypoint/market/waypoint-market-list.component.tsx
  src/features/waypoint/market/waypoint-market.err.tsx
  src/templates/dashboard.tpl.tsx
Due: eslint --fix
