Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

remove old route files
  src/routes/agents/agent/agent.route.ts
  src/routes/contracts/contract/contract.route.ts
  src/routes/contracts/contracts.route.ts
  src/routes/fleet/ship/loadout/index.ts
  src/routes/fleet/ship/loadout/ship-loadout.route.tsx
  src/routes/systems/systems.route.ts
Due: eslint --fix

fix route param type errors
  src/routes/conf/_dashboard/agents/index.route.ts
  src/routes/conf/_dashboard/systems/index.route.ts
Due: eslint --fix

root path complains about missing params
  src/routes/dashboard/dashboard-layout.component.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

display ship presence in navigation table
  src/features/ship/transit/ship-transit.navigate.tsx
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
  src/features/waypoint/navigation/waypoint-navigation.component.tsx
  src/features/waypoint/navigation/waypoint-navigation.table.tsx
  src/features/waypoint/navigation/waypoint-navigation.types.ts
Due: eslint --fix

remove ship presence component
  src/features/ship/presence/index.ts
  src/features/ship/presence/ship-presence.component.tsx
  src/features/system/list/system-list.columns.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
Due: eslint --fix

create get ship presence helper function
  src/features/ship/utilities/get-ship-presence.helper.ts
  src/features/waypoint/list/waypoint-list.component.tsx
  src/features/waypoint/navigation/waypoint-navigation.component.tsx
Due: eslint --fix

add property to get ship presence by system or waypoint
  src/features/ship/utilities/get-ship-presence.helper.ts
  src/features/system/list/system-list.component.tsx
  src/features/waypoint/list/waypoint-list.component.tsx
  src/features/waypoint/navigation/waypoint-navigation.component.tsx
Due: eslint --fix

rename symbol and waypoint contexts
  src/context/system.context.tsx
  src/context/waypoint.context.tsx
Due: eslint --fix

export store contexts
  src/context/system.context.tsx
  src/context/waypoint.context.tsx
Due: eslint --fix

disable refueling if waypoint or market is not available
  src/features/ship/status/ship-status.component.tsx
Due: eslint --fix

move waypoint store provider to ship detail
  src/features/ship/detail/ship-detail.component.tsx
  src/features/ship/tabs/ship-tabs.component.tsx
Due: eslint --fix

preload waypoint data in ship loader
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol.loader.ts
Due: eslint --fix

add ship overlay pending component to prevent flicker of default fallback
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay.route.ts
  src/routes/route-tree.gen.ts
Due: eslint --fix

use disabled prop
  src/features/ship/actions/ship-actions.extract.tsx
Due: eslint --fix

disable survey and extract if waypoint is not an asteroid
  src/features/ship/survey-extract/ship-survey-extract.component.tsx
Due: eslint --fix

add syphon drone ship type
  public/locales/en/spacetraders.ship_type.json
Due: prettier --write

disable survey and extract if ship is not in orbit
  src/features/ship/actions/ship-actions.extract.tsx
  src/features/ship/actions/ship-actions.survey.tsx
Due: eslint --fix

remove ship actions column
  src/features/ship/list/ship-list.columns.tsx
Due: eslint --fix

remove ship row, clean up table hook config
  src/features/ship/list/ship-list.table.tsx
Due: eslint --fix

add key icon
  public/icons/menu.svg
Due: none

show icon if navigation item requires logging in
  src/features/navigation/navigation.component.tsx
Due: eslint --fix

move system type styles
  src/components/system/tag/system-tag.component.tsx
  src/config/system.styles.ts
Due: eslint --fix

rename market overlay, update route tree gen
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay.market.component.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay.market.loader.ts
  src/routes/route-tree.gen.ts
Due: eslint --fix

remove empty home link params because types are fixed now
  src/routes/dashboard/dashboard-layout.component.tsx
Due: eslint --fix

sort keys for easier lookup
  public/locales/en/common.json
Due: prettier --write

reposition icon
  src/features/navigation/navigation.component.tsx
Due: eslint --fix

update faction queries to query options
  src/features/auth/register/faction-info.component.tsx
  src/features/auth/register/register.component.tsx
  src/services/api/spacetraders/factions.ts
Due: eslint --fix

switch login and register from zod to valibot
  package.json
  pnpm-lock.yaml
  src/features/auth/login/login.component.tsx
  src/features/auth/login/login.schema.ts
  src/features/auth/login/login.validation.ts
  src/features/auth/register/register.component.tsx
  src/features/auth/register/register.schema.ts
  src/features/auth/register/register.validation.ts
Due: eslint --fix, prettier --write

create transfer cargo ship action
  src/features/ship/actions/index.ts
  src/features/ship/actions/ship-actions.transfer-cargo.tsx
  src/services/api/spacetraders/fleet.ts
Due: eslint --fix

move cargo jettison to cargo controls
  src/features/ship/cargo/controls/jettison/cargo-jettison.component.tsx
  src/features/ship/cargo/controls/jettison/index.ts
Due: eslint --fix

add cargo transfer control
  src/features/ship/cargo/controls/transfer/cargo-transfer.component.tsx
  src/features/ship/cargo/controls/transfer/cargo-transfer.form.tsx
  src/features/ship/cargo/controls/transfer/cargo-transfer.validation.ts
  src/features/ship/cargo/controls/transfer/index.ts
Due: eslint --fix

refactor ship controls to use radix dropdown
  src/features/ship/cargo/ship-cargo-item.controls.tsx
Due: eslint --fix

lighten dim button background
  styles/components/button.scss
Due: none

add radix packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,md,json}
