Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

clean up scrollbar styles
  src/components/multi-select/field.component.tsx
Due: eslint --fix

rename multi select component files
  src/components/multi-select/index.ts
  src/components/multi-select/multi-select-field.component.tsx
  src/components/multi-select/multi-select-item.component.tsx
  src/components/multi-select/multi-select-options.component.tsx
Due: eslint --fix

create dropdown component
  src/components/dropdown/dropdown-checkbox-item.component.tsx
  src/components/dropdown/dropdown-field.component.tsx
  src/components/dropdown/dropdown-group.component.tsx
  src/components/dropdown/dropdown-item.component.tsx
  src/components/dropdown/dropdown-label.component.tsx
  src/components/dropdown/dropdown-radio-group.component.tsx
  src/components/dropdown/dropdown-radio-item.component.tsx
  src/components/dropdown/dropdown-separator.component.tsx
  src/components/dropdown/index.ts
Due: eslint --fix

add dot icon
  public/icons/app.svg
Due: none

update flight mode menu to use dropdown component
  src/features/ship/detail/ship-detail.flight-mode.tsx
Due: eslint --fix

update check icon
  public/icons/app.svg
Due: none

tweak item styles
  src/components/dropdown/dropdown-checkbox-item.component.tsx
  src/components/dropdown/dropdown-radio-item.component.tsx
  src/components/select/item.component.tsx
Due: eslint --fix

forward ref to item components
  src/components/dropdown/dropdown-checkbox-item.component.tsx
  src/components/dropdown/dropdown-item.component.tsx
  src/components/dropdown/dropdown-radio-item.component.tsx
  src/components/select/item.component.tsx
Due: eslint --fix

switch from scroll buttons to scroll area
  src/components/select/field.component.tsx
Due: eslint --fix

rename select component files
  src/components/select/index.ts
  src/components/select/select-field.component.tsx
  src/components/select/select-group.component.tsx
  src/components/select/select-item.component.tsx
  src/components/select/select-label.component.tsx
  src/components/select/select-seperator.component.tsx
  src/components/select/skeleton.component.tsx
Due: eslint --fix

add transfer icon
  public/icons/app.svg
Due: none

update item classes to support icons
  src/components/dropdown/dropdown-item.component.tsx
Due: eslint --fix

create item icon component
  src/components/dropdown/dropdown-item-icon.component.tsx
  src/components/dropdown/index.ts
Due: eslint --fix

use item icon component for radio and checkbox items
  src/components/dropdown/dropdown-checkbox-item.component.tsx
  src/components/dropdown/dropdown-radio-item.component.tsx
Due: eslint --fix

update dropdown components
  src/features/ship/cargo/ship-cargo-item.controls.tsx
Due: eslint --fix

remove checker plugin
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

add popover style to main stylesheet
  src/components/dropdown/dropdown-field.component.tsx
  src/components/multi-select/multi-select-field.component.tsx
  src/styles/main.css
Due: eslint --fix, prettier --write

fix positioning and scroll behaviour
  src/components/select/select-field.component.tsx
Due: eslint --fix

refactor ship actions interface
  src/features/ship/actions/ship-actions.dock.tsx
  src/features/ship/actions/ship-actions.extract.tsx
  src/features/ship/actions/ship-actions.flight-mode.tsx
  src/features/ship/actions/ship-actions.install-mount.tsx
  src/features/ship/actions/ship-actions.jettison.tsx
  src/features/ship/actions/ship-actions.jump.tsx
  src/features/ship/actions/ship-actions.navigate.tsx
  src/features/ship/actions/ship-actions.orbit.tsx
  src/features/ship/actions/ship-actions.purchase-cargo.tsx
  src/features/ship/actions/ship-actions.refine.tsx
  src/features/ship/actions/ship-actions.refuel.tsx
  src/features/ship/actions/ship-actions.remove-mount.tsx
  src/features/ship/actions/ship-actions.repair.tsx
  src/features/ship/actions/ship-actions.scrap.tsx
  src/features/ship/actions/ship-actions.sell-cargo.tsx
  src/features/ship/actions/ship-actions.siphon.tsx
  src/features/ship/actions/ship-actions.survey.tsx
  src/features/ship/actions/ship-actions.transfer-cargo.tsx
  src/features/ship/actions/ship-actions.types.ts
  src/features/ship/actions/ship-actions.warp.tsx
  src/features/ship/cargo/controls/jettison/cargo-jettison.component.tsx
  src/features/ship/detail/ship-detail.flight-mode.tsx
  src/features/ship/list/ship-list-item.controls.tsx
  src/features/ship/resourecs/ship-resources.component.tsx
  src/features/ship/status/ship-status.component.tsx
  src/features/survey/actions/survey-action.extract.tsx
  src/features/waypoint/navigation/waypoint-navigation.action.tsx
Due: eslint --fix

refactor modal context store and close prop
  src/components/modal/index.ts
  src/components/modal/modal.close.tsx
  src/components/modal/modal.component.tsx
  src/components/modal/modal.root.tsx
  src/components/modal/modal.types.ts
Due: eslint --fix

replace closeable prop with close component
  src/features/ship/cargo/ship-cargo-item.controls.tsx
  src/features/ship/list/ship-list-item.controls.tsx
  src/features/ship/transit/ship-transit.jump.tsx
  src/features/ship/transit/ship-transit.navigate.tsx
  src/features/ship/transit/ship-transit.warp.tsx
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/sell/trade-good-sell.component.tsx
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

update import path
  src/features/contract/actions/contract-actions.accept.tsx
Due: eslint --fix

add market and shipyard icons
  public/icons/app.svg
Due: none

sort waypoint traits
  src/features/waypoint/list/waypoint-list.columns.tsx
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
Due: eslint --fix

refactor modal component to use radix dialog
  src/components/modal/modal.close.tsx
  src/components/modal/modal.component.tsx
  src/components/modal/modal.root.tsx
  src/components/modal/modal.trigger.tsx
  src/components/modal/modal.types.ts
Due: eslint --fix

update modal implementations to new modal pattern
  src/features/contract/deliver/contract-deliver.component.tsx
  src/features/ship/transit/ship-transit.component.tsx
  src/features/ship/transit/ship-transit.jump.tsx
  src/features/ship/transit/ship-transit.navigate.tsx
  src/features/ship/transit/ship-transit.types.ts
  src/features/ship/transit/ship-transit.warp.tsx
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/buy/trade-good-buy.types.ts
  src/features/trade-good/sell/trade-good-sell.component.tsx
  src/features/trade-good/sell/trade-good-sell.types.ts
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
Due: eslint --fix

lower animation duration to improve snappiness
  src/styles/main.css
Due: prettier --write

add popover animation class
  src/components/modal/modal.root.tsx
Due: eslint --fix

update positioning classes
  src/components/modal/modal.root.tsx
Due: eslint --fix

replace native overflow with scroll area
  src/components/modal/modal.root.tsx
Due: eslint --fix

use custom property to set max height
  src/components/modal/modal.root.tsx
Due: eslint --fix

increase contrast ratio of scroll area thumb
  src/components/modal/modal.root.tsx
  src/components/multi-select/multi-select-field.component.tsx
  src/components/select/select-field.component.tsx
Due: eslint --fix

swap from eslint and prettier to biome
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  biome.json
Due: prettier --write

swap from lint-stage to git-format-staged
  .husky/pre-commit
Due: none

add custom properties for toast styles
  public/css/dark.css
  public/css/light.css
Due: prettier --write

update toast styles to use custom properties
  src/components/toast/toast.module.css
Due: prettier --write
