Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

optional min prop
  src/components/pagination/pagination.types.ts
Due: eslint --fix

use pagination commands hook, use t function to format numbers
  src/features/agent/list/agent-list.component.tsx
  src/features/system/list/system-list.component.tsx
Due: eslint --fix

remove unstable code splitting config
  tsr.config.json
Due: prettier --write

move default actions to app actions hook
  src/components/app/app.component.tsx
  src/components/app/use-app-actions.hook.ts
Due: eslint --fix

add create sync storage helper
  src/store/atoms/sidebar.ts
  src/store/atoms/theme.ts
  src/store/create-sync-storage.helper.ts
Due: eslint --fix

don't navigate if route is already transitioning
  src/components/pagination/use-pagination-commands.hook.ts
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

add auth and client to router context
  test/utilities/router.tsx
Due: eslint --fix

add has error attribute to inputs
  src/components/field-control/field-control.input.tsx
  src/components/form-control/form-control.input.tsx
  src/styles/components/input.css
Due: eslint --fix, prettier --write

create tooltip component
  src/components/tooltip/index.ts
  src/components/tooltip/tooltip.component.tsx
Due: eslint --fix

update duplicate radix tooltip to new global tooltip
  src/features/ship/cargo/ship-cargo-list.columns.tsx
  src/features/system/list/system-list.columns.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
  src/features/waypoint/shipyard/waypoint-shipyard.columns.tsx
Due: eslint --fix

add bold style
  public/locales/en/common.json
  src/features/system/list/system-list.columns.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
Due: eslint --fix, prettier --write

update toast variant colours
  public/css/dark.css
  public/css/light.css
Due: prettier --write

update deprecated trailing comma config
  biome.json
Due: prettier --write

add toast variant icons
  public/icons/app.svg
Due: none

refactor toast component to use sonner
  src/components/toast/index.ts
  src/components/toast/toast-container.component.tsx
  src/components/toast/toast-item.component.tsx
  src/components/toast/toast.component.tsx
  src/components/toast/toast.helper.tsx
  src/components/toast/toast.store.ts
  src/components/toast/toast.types.ts
  src/styles/components/toast.css
Due: eslint --fix, prettier --write

switch to sonner toast container
  src/routes/core.route.tsx
Due: eslint --fix

add toast for login events
  public/locales/en/common.json
  src/features/auth/login/login.component.tsx
  src/routes/core.route.tsx
Due: eslint --fix, prettier --write

check existence of key in item
  src/utilities/reduce-array-to-map.helper.ts
Due: eslint --fix

break up waypoint market list groups into individual components
  src/features/waypoint/market/waypoint-market-groups.component.tsx
  src/features/waypoint/market/waypoint-market-list.component.tsx
  src/features/waypoint/market/waypoint-market.types.ts
Due: eslint --fix

update trans components to address unique key prop warning
  src/features/auth/login/login.component.tsx
  src/features/auth/register/register.component.tsx
Due: eslint --fix

move waypoint and system components to features
  src/features/ship/status/ship-status.component.tsx
  src/features/system/list/waypoints-cell.component.tsx
  src/features/system/tag/index.ts
  src/features/system/tag/system-tag.component.tsx
  src/features/system/tag/system-tag.module.css
  src/features/system/tag/system-tag.types.ts
  src/features/waypoint/detail/waypoint-detail.component.tsx
  src/features/waypoint/filters/index.ts
  src/features/waypoint/filters/waypoint-type.component.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
  src/features/waypoint/tag/index.ts
  src/features/waypoint/tag/waypoint-tag.component.tsx
  src/features/waypoint/tag/waypoint-tag.module.css
  src/features/waypoint/tag/waypoint-tag.types.ts
Due: eslint --fix, prettier --write

move theme style sheet to components
  src/components/app/app.component.tsx
  src/components/theme-style-sheet/index.ts
  src/components/theme-style-sheet/theme-style-sheet.component.tsx
Due: eslint --fix

fix system tag import path
  src/features/system/detail/system-detail.component.tsx
  src/features/system/list/system-list.columns.tsx
Due: eslint --fix

create use pagination handlers hook
  src/components/pagination/index.ts
  src/components/pagination/pagination.component.tsx
  src/components/pagination/use-pagination-handlers.hook.ts
Due: eslint --fix

update prev and next page methods to handle out of bounds values
  src/components/pagination/use-pagination-handlers.hook.ts
Due: eslint --fix

add icon to flight mode trigger
  src/features/ship/detail/ship-detail.flight-mode.tsx
Due: eslint --fix

fix ship presence formatting
  public/locales/en/common.json
Due: prettier --write

create conf object of ship transit states
  src/features/ship/transit/index.ts
  src/features/ship/transit/ship-transit.conf.ts
  src/features/ship/transit/ship-transit.status.tsx
  src/features/ship/transit/use-ship-transit.hook.ts
Due: eslint --fix

use t function to format date time
  src/features/survey/list/survey-list.columns.tsx
Due: eslint --fix
