Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

update location of meta context function
  src/components/meta/meta.component.tsx
Due: eslint --fix

update order of route properties
  src/routes/conf/_dashboard/agents/index.route.ts
  src/routes/conf/_dashboard/systems/index.route.ts
Due: eslint --fix

update ship modal close button
  public/locales/en/common.json
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
Due: eslint --fix, prettier --write

replace market url in history stack
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
Due: eslint --fix

move tooltip provider to app component
  src/components/app/app.component.tsx
  src/components/tooltip/tooltip.component.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

add modal prop to drawer
  src/components/drawer/drawer-root.component.tsx
  src/components/drawer/drawer.types.ts
Due: eslint --fix

fix vaul data attributes
  src/styles/components/drawer.css
Due: prettier --write

rename modal actions
  src/components/modal/modal.component.tsx
  src/components/modal/modal.root.tsx
  src/components/modal/modal.store.ts
  src/components/modal/modal.trigger.tsx
  src/components/modal/modal.types.ts
  src/components/modal/use-modal-imperative-handle.hook.ts
  src/features/ship/cargo/controls/jettison/cargo-jettison.component.tsx
  src/features/ship/cargo/controls/transfer/cargo-transfer.component.tsx
Due: eslint --fix

rename drawer actions
  src/components/drawer/drawer-root.component.tsx
  src/components/drawer/drawer-trigger.component.tsx
  src/components/drawer/drawer.component.tsx
  src/components/drawer/drawer.types.ts
  src/components/drawer/use-drawer-imperative-handle.hook.ts
  src/features/navigation/mobile.component.tsx
Due: eslint --fix

update button styles
  src/styles/components/button.css
Due: prettier --write

update layer imports
  src/styles/main.css
Due: prettier --write

update zustand import
  src/components/drawer/drawer.context.ts
Due: eslint --fix

update base vaul style
  src/styles/components/drawer.css
Due: prettier --write

add modal and should scale background props
  src/components/drawer/drawer.types.ts
Due: eslint --fix

update overlay background opacity
  src/components/drawer/drawer-overlay.component.tsx
  src/components/modal/modal.overlay.tsx
Due: eslint --fix

update relative import paths
  src/components/drawer/drawer-root.component.tsx
  src/components/drawer/drawer-trigger.component.tsx
  src/components/drawer/drawer.component.tsx
Due: eslint --fix

update drawer styles and props
  src/components/drawer/drawer-content.component.tsx
  src/components/drawer/drawer-root.component.tsx
Due: eslint --fix

make sidebar menu scale background
  src/templates/dashboard.tpl.tsx
Due: eslint --fix

add width class
  index.html
Due: none

export drawer overlay
  src/components/drawer/index.ts
Due: eslint --fix

move layer directives
  src/styles/base.css
  src/styles/components/button.css
  src/styles/components/drawer.css
  src/styles/components/input.css
  src/styles/components/tabs.css
  src/styles/components/toast.css
  src/styles/components/toggle-group.css
  src/styles/components/typography.css
  src/styles/main.css
  src/styles/spacetraders.css
Due: prettier --write

fix layout and positioning across breakpoints
  src/components/modal/modal.root.tsx
Due: eslint --fix

fix scroll area overflow clipping
  src/components/table/table.component.tsx
Due: eslint --fix

move meta title template to i18n
  public/locales/en/meta.json
  src/components/meta/meta.component.tsx
  src/routes/core.route.tsx
Due: eslint --fix, prettier --write

update responsive component media queries
  src/components/responsive/responsive.component.tsx
Due: eslint --fix

update pagination actions based on media query
  public/locales/en/common.json
  src/components/pagination/pagination.component.tsx
Due: eslint --fix, prettier --write

update responsive types and rename media query hooks
  src/components/responsive/breakpoints.conf.ts
  src/components/responsive/index.ts
  src/components/responsive/responsive.types.ts
  src/components/responsive/use-responsive.hook.ts
Due: eslint --fix

regenerate route tree
  src/routes/route-tree.gen.ts
Due: eslint --fix
