Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

fix agents route file name
  src/routes/agents/agent/agent.route.ts
  src/routes/agents/agents-route.component.tsx
  src/routes/agents/agents.route.ts
  src/routes/agents/index.ts
Due: eslint --fix

disable eslint typechecking
  .eslintrc.cjs
  src/routes/router.conf.d.ts
  src/routes/router.conf.ts
Due: eslint --fix

add more table header translation strings
  public/locales/en/common.json
Due: prettier --write

enable some type checking
  .eslintrc.cjs
Due: none

update filter map with reduce
  src/components/meta/meta.component.tsx
Due: eslint --fix

update route nesting, rename layout route ids
  src/config/routes.ts
  src/routes/agents/agents.route.ts
  src/routes/auth/auth.route.tsx
  src/routes/contracts/contract/contract.route.ts
  src/routes/contracts/contract/index.ts
  src/routes/dashboard/dashboard.route.ts
  src/routes/fleet/ship/index.ts
  src/routes/fleet/ship/market/index.ts
  src/routes/fleet/ship/market/ship-market.route.ts
  src/routes/fleet/ship/ship.route.ts
  src/routes/root.route.ts
  src/routes/router.conf.ts
  src/routes/surveys/index.ts
  src/routes/surveys/surveys.route.ts
  src/routes/systems/systems.route.ts
Due: eslint --fix

add default search param values
  src/services/api/spacetraders/agent.ts
  src/services/api/spacetraders/systems.ts
Due: eslint --fix

replace route imports with strings and route api helper class
  src/components/route-error/route-error.component.tsx
  src/features/agent/list/agent-list.columns.tsx
  src/features/auth/login/login.component.tsx
  src/features/auth/register/access-token-dialog.component.tsx
  src/features/auth/register/register.component.tsx
  src/features/contract/list/contract-list.columns.tsx
  src/features/leaderboard/list/leaderboard-list.component.tsx
  src/features/navigation/navigation.component.tsx
  src/features/ship/actions/ship-actions.scan-waypoints.tsx
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/ship/list/ship-list.columns.tsx
  src/features/ship/status/ship-status.component.tsx
  src/features/ship/transit/ship-transit.component.tsx
  src/features/system/fleet/system-fleet.empty.tsx
  src/features/system/list/system-list.columns.tsx
  src/features/system/list/waypoints-cell.component.tsx
  src/features/waypoint/detail/waypoint-detail.component.tsx
  src/features/waypoint/fleet/waypoint-fleet.empty.tsx
  src/features/waypoint/jumpgate/waypoint-jumpgate-item.component.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
  src/routes/agents/agent/agent-route.component.tsx
  src/routes/agents/agents-route.component.tsx
  src/routes/contracts/contract/contract-route.component.tsx
  src/routes/dashboard/dashboard-layout.component.tsx
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
  src/routes/fleet/ship/ship-route.component.tsx
  src/routes/home/home-route.component.tsx
  src/routes/systems/systems-route.component.tsx
Due: eslint --fix

add no contracts message
  src/features/contract/list/contract-list.component.tsx
Due: eslint --fix

update login and register component exports
  src/features/auth/index.ts
Due: eslint --fix

fix ship warp mutation
  src/features/ship/transit/ship-transit.warp.tsx
Due: eslint --fix

use translation component in column headers
  src/features/waypoint/shipyard/waypoint-shipyard.columns.tsx
Due: eslint --fix

fix url search params type errors
  src/utilities/get-request-pagination.spec.ts
Due: eslint --fix

update router type file name
  tsconfig.json
Due: prettier --write

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

use type guard over nullish chaining
  src/components/shipyard/purchase-ship/shipyard-purchase-ship.component.tsx
Due: eslint --fix

upgrade dependencies, add mdx
  package.json
  pnpm-lock.yaml
Due: prettier --write

add mdx and dynamic import plugins
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix logout link
  src/routes/dashboard/dashboard-layout.component.tsx
Due: eslint --fix

call route context meta even if loader data is undefined
  src/components/meta/meta.component.tsx
Due: eslint --fix

add meta function to login and register route contexts
  src/routes/auth/auth.route.tsx
Due: eslint --fix

update accessing router state matches due to a possible state change race condition
  src/components/meta/meta.component.tsx
Due: eslint --fix

add missing quantum stabilizers
  public/locales/en/spacetraders.trade_good.json
Due: prettier --write

remove window scrollto effects
  src/features/agent/list/agent-list.component.tsx
  src/features/system/list/system-list.component.tsx
Due: eslint --fix

restore router state hook, check potential undefined data in meta handlers
  env.d.ts
  src/components/meta/meta.component.tsx
  src/routes/agents/agent/agent-route.meta.ts
  src/routes/fleet/ship/ship-route.meta.ts
  src/routes/systems/system/system-route.meta.ts
  src/routes/systems/waypoint/waypoint-route.meta.ts
Due: eslint --fix

use loader deps for page search param
  src/routes/agents/agents-route.component.tsx
  src/routes/agents/agents.route.ts
  src/routes/systems/systems-route.component.tsx
  src/routes/systems/systems.route.ts
Due: eslint --fix

fix ship transit arrival labels
  src/features/ship/transit/ship-transit.status.tsx
Due: eslint --fix

update ship type translation strings
  public/locales/en/spacetraders.ship_type.json
Due: prettier --write

list shipyard items by available ship types
  src/features/waypoint/shipyard/waypoint-shipyard-list.component.tsx
  src/features/waypoint/shipyard/waypoint-shipyard.columns.tsx
  src/features/waypoint/shipyard/waypoint-shipyard.table.tsx
  src/features/waypoint/shipyard/waypoint-shipyard.types.ts
Due: eslint --fix

move query devtools inside core route
  src/components/app/app.component.tsx
  src/routes/core.route.tsx
Due: eslint --fix

remove old route files
  src/routes/surveys/surveys.route.ts
  src/routes/systems/system/system.route.ts
  src/routes/systems/waypoint/waypoint.route.ts
Due: eslint --fix

update missing value display
  src/features/waypoint/shipyard/waypoint-shipyard.columns.tsx
Due: eslint --fix

move router dev tools to bottom left
  src/routes/core.route.tsx
Due: eslint --fix

move checker overlay to top right
  vite.config.ts
Due: eslint --fix

update grid layout classes
  src/features/system/detail/system-detail.component.tsx
  src/features/waypoint/detail/waypoint-detail.component.tsx
  src/features/waypoint/jumpgate/waypoint-jumpgate.layout.tsx
Due: eslint --fix

use automatic route component code splitting
  src/routes/conf/_auth.component.ts
  src/routes/conf/_auth.route.ts
  src/routes/conf/_auth/login.component.ts
  src/routes/conf/_auth/login.route.ts
  src/routes/conf/_auth/register.component.ts
  src/routes/conf/_auth/register.route.ts
  src/routes/conf/_dashboard.component.ts
  src/routes/conf/_dashboard.route.ts
  src/routes/conf/_dashboard/_authenticated/contracts.component.ts
  src/routes/conf/_dashboard/_authenticated/contracts.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol.component.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay.component.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay/market.component.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay/market.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/index.component.ts
  src/routes/conf/_dashboard/_authenticated/fleet/index.route.ts
  src/routes/conf/_dashboard/_authenticated/surveys.component.ts
  src/routes/conf/_dashboard/_authenticated/surveys.route.ts
  src/routes/conf/_dashboard/agents/$agentSymbol.component.ts
  src/routes/conf/_dashboard/agents/$agentSymbol.route.ts
  src/routes/conf/_dashboard/agents/index.component.ts
  src/routes/conf/_dashboard/agents/index.route.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/index.component.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/index.route.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/waypoint/$waypointSymbol.component.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/waypoint/$waypointSymbol.route.ts
  src/routes/conf/_dashboard/systems/index.component.ts
  src/routes/conf/_dashboard/systems/index.route.ts
  src/routes/conf/index.component.ts
  src/routes/conf/index.route.ts
  src/routes/route-tree.gen.ts
  tsr.config.json
Due: eslint --fix, prettier --write

use automatic route loader code splitting
  src/routes/conf/_auth/login.route.ts
  src/routes/conf/_auth/register.route.ts
  src/routes/conf/_dashboard.loader.ts
  src/routes/conf/_dashboard.route.ts
  src/routes/conf/_dashboard/_authenticated/contracts.loader.ts
  src/routes/conf/_dashboard/_authenticated/contracts.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol.loader.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay/market.loader.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol/_overlay/market.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/index.loader.ts
  src/routes/conf/_dashboard/_authenticated/fleet/index.route.ts
  src/routes/conf/_dashboard/_authenticated/surveys.loader.ts
  src/routes/conf/_dashboard/_authenticated/surveys.route.ts
  src/routes/conf/_dashboard/agents/$agentSymbol.loader.ts
  src/routes/conf/_dashboard/agents/$agentSymbol.route.ts
  src/routes/conf/_dashboard/agents/index.loader.ts
  src/routes/conf/_dashboard/agents/index.route.ts
  src/routes/conf/_dashboard/leaderboard.component.ts
  src/routes/conf/_dashboard/leaderboard.loader.ts
  src/routes/conf/_dashboard/leaderboard.route.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/index.loader.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/index.route.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/waypoint/$waypointSymbol.loader.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/waypoint/$waypointSymbol.route.ts
  src/routes/conf/_dashboard/systems/index.loader.ts
  src/routes/conf/_dashboard/systems/index.route.ts
  src/routes/route-tree.gen.ts
Due: eslint --fix
