Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

use existing space traders flight mode ns
  public/locales/en/common.json
  src/features/ship/detail/ship-detail.flight-mode.tsx
Due: eslint --fix, prettier --write

update css imports and layers
  src/styles/base.css
  src/styles/components/button.css
  src/styles/components/drawer.css
  src/styles/components/input.css
  src/styles/components/tabs.css
  src/styles/components/toast.css
  src/styles/components/toggle-group.css
  src/styles/components/typography.css
  src/styles/main.css
  src/styles/spacetraders.css
Due: prettier --write

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

add react compiler
  vite.config.ts
Due: eslint --fix

move to dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

regenerate route tree
  src/routes/route-tree.gen.ts
Due: eslint --fix

add clsx helper
  src/utilities/clsx.helper.ts
Due: eslint --fix

move system and waypoint tag styles to tailwind components
  src/features/system/tag/system-tag.component.tsx
  src/features/system/tag/system-tag.types.ts
  src/features/waypoint/tag/waypoint-tag.component.tsx
  src/styles/components/system-tag.css
  src/styles/components/waypoint-tag.css
  src/styles/main.css
Due: eslint --fix, prettier --write

enable experimental prefetch in render
  src/services/query-client.ts
Due: eslint --fix

support top level await
  vite.config.ts
Due: eslint --fix

replace cva with clsx and tv
  package.json
  pnpm-lock.yaml
Due: prettier --write

rename cx helper, extends tw merge config
  src/utilities/clsx.helper.ts
  src/utilities/cx.helper.ts
Due: eslint --fix

replace cva with tv
  biome.json
  src/components/button/button.component.tsx
  src/components/button/button.styles.ts
  src/components/button/button.types.ts
  src/utilities/tv.helper.ts
Due: eslint --fix, prettier --write

update cx import
  src/components/card/card.component.tsx
  src/components/drawer/drawer-content.component.tsx
  src/components/drawer/drawer-header.component.tsx
  src/components/drawer/drawer-title.component.tsx
  src/components/dropdown/dropdown-item-icon.component.tsx
  src/components/dropdown/dropdown-item.component.tsx
  src/components/field-control/field-control.error-message.tsx
  src/components/field-control/field-control.hint.tsx
  src/components/field-control/field-control.input.tsx
  src/components/form-control/form-control.error-message.tsx
  src/components/form-control/form-control.hint.tsx
  src/components/form-control/form-control.input.tsx
  src/components/modal/modal.root.tsx
  src/components/scroll-area/scroll-area-root.component.tsx
  src/components/scroll-area/scroll-area-viewport.component.tsx
  src/components/select/select-item.component.tsx
  src/components/table/row.component.tsx
  src/components/wayfarer/wayfarer.component.tsx
  src/features/auth/auth.layout.tsx
  src/features/auth/register/access-token-dialog.component.tsx
  src/features/auth/register/copy-button.component.tsx
  src/features/ship/cargo/ship-cargo-list.columns.tsx
  src/features/ship/cargo/ship-cargo-preferences.component.tsx
  src/features/ship/cooldown/ship-cooldown.component.tsx
  src/features/ship/transit/ship-transit.status.tsx
  src/features/system/overview/system-overview.component.tsx
  src/features/system/tag/system-tag.component.tsx
  src/features/trade-good/buy/trade-good-buy.form.tsx
  src/features/waypoint/market/waypoint-market.columns.tsx
  src/features/waypoint/tag/waypoint-tag.component.tsx
  src/routes/core.route.tsx
  src/templates/dashboard.tpl.tsx
Due: eslint --fix

ugprade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

move ref attributes to types file
  src/components/button/button.component.tsx
  src/components/button/button.types.ts
  src/components/drawer/drawer.component.tsx
  src/components/drawer/drawer.types.ts
  src/components/modal/modal.component.tsx
  src/components/modal/modal.types.ts
Due: eslint --fix

remove tv helper
  src/utilities/tv.helper.ts
Due: eslint --fix

use tvm helper
  src/utilities/cx.helper.ts
Due: eslint --fix

use radix slot component with asChild prop
  src/components/button/button.component.tsx
  src/components/button/button.styles.ts
  src/components/button/button.types.ts
Due: eslint --fix

add tailwind merge helper
  src/utilities/twm.helper.ts
Due: eslint --fix

ignore import notation
  src/styles/main.css
Due: prettier --write

fix text colour class
  src/features/waypoint/market/waypoint-market-preferences.component.tsx
Due: eslint --fix

increase tooltip content z index
  src/components/tooltip/tooltip.component.tsx
Due: eslint --fix

show waypoint presence tooltip
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
Due: eslint --fix

update link outline, apply css formatting
  src/styles/main.css
Due: prettier --write

fix font family, add spacing 7
  src/styles/main.css
Due: prettier --write

tweak modal header and footer backdrop
  src/components/modal/modal-footer.component.tsx
  src/components/modal/modal-header.component.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,md,json}
