Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

create initial toast store and components
  src/components/toast/index.ts
  src/components/toast/toast.container.tsx
  src/components/toast/toast.element.tsx
  src/components/toast/toast.module.css
  src/components/toast/toast.store.ts
  src/components/toast/toast.types.ts
Due: eslint --fix, prettier --write

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

add toast container
  src/routes/core.route.tsx
Due: eslint --fix

regenerate route tree
  src/routes/route-tree.gen.ts
Due: eslint --fix

add infinity icon
  public/icons/app.svg
Due: none

show infinite icon if fuel capacity is zero
  src/features/ship/list/ship-list.columns.tsx
  src/features/ship/status/ship-status.component.tsx
Due: eslint --fix

ignore global pseudo class for css modules
  .stylelintrc.json
Due: prettier --write

update toast element colours
  src/components/toast/toast.element.tsx
  src/components/toast/toast.module.css
Due: eslint --fix, prettier --write

remove helmet usage in favour of built-in metadata support
  src/components/app/app.component.tsx
  src/components/meta/meta.component.tsx
  src/routes/conf/_dashboard.route.ts
Due: eslint --fix

remove incomplete ship action
  src/features/ship/status/ship-status.component.tsx
Due: eslint --fix

add preconnect link for spacetraders api
  index.html
Due: none

update browserslist versions
  .browserslistrc
Due: none

refactor meta tag reducer
  src/components/meta/meta.component.tsx
Due: eslint --fix

update ship overlay modal size
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
Due: eslint --fix

update font preload link attributes
  index.html
Due: none

update tab group style
  styles/components/tabs.scss
Due: none

use eagerly loaded auth route
  src/routes/conf/_auth.lazy.ts
  src/routes/conf/_auth.route.ts
  src/routes/route-tree.gen.ts
Due: eslint --fix

update meta object types
  src/components/meta/meta.component.tsx
Due: eslint --fix

reduce number of elements
  src/features/system/detail/system-detail.component.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
  src/routes/conf/_auth.lazy.ts
  src/routes/conf/_auth.route.ts
Due: eslint --fix, prettier --write

remove meta function i18n ns option
  src/routes/agents/agent/agent-route.meta.ts
  src/routes/agents/agents-route.meta.ts
  src/routes/conf/_auth/login.route.ts
  src/routes/conf/_auth/register.route.ts
  src/routes/contracts/contracts-route.meta.ts
  src/routes/dashboard/dashboard-layout.meta.ts
  src/routes/fleet/fleet-route.meta.ts
  src/routes/fleet/ship/ship-route.meta.ts
  src/routes/leaderboard/leaderboard-route.meta.ts
  src/routes/not-found.route.ts
  src/routes/surveys/surveys-route.meta.ts
  src/routes/systems/system/system-route.meta.ts
  src/routes/systems/systems-route.meta.ts
  src/routes/systems/waypoint/waypoint-route.meta.ts
Due: eslint --fix

add get on init option
  src/store/atoms/sidebar.ts
  src/store/atoms/theme.ts
Due: eslint --fix

restore auth route lazy loading
  src/routes/conf/_auth.lazy.ts
  src/routes/conf/_auth.route.ts
  src/routes/route-tree.gen.ts
Due: eslint --fix

remove ship condition display
  src/features/ship/status/ship-status.component.tsx
Due: eslint --fix

set up scrap and repair ship actions
  src/features/ship/actions/index.ts
  src/features/ship/actions/ship-actions.repair.tsx
  src/features/ship/actions/ship-actions.scrap.tsx
  src/services/api/spacetraders/fleet.ts
  src/types/spacetraders.d.ts
Due: eslint --fix

update ship overlay size
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
Due: eslint --fix

add has trait utility
  src/features/waypoint/utilities/has-trait.helper.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,md,json}
