Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update secondary column background
  src/templates/dashboard.tpl.tsx
Due: eslint --fix

create toggle group component styles
  public/css/dark.css
  public/css/light.css
  src/styles/components/toggle-group.css
  src/styles/main.css
Due: prettier --write

create toggle group component
  src/components/toggle-group/index.ts
  src/components/toggle-group/toggle-group.item.tsx
  src/components/toggle-group/toggle-group.root.tsx
Due: eslint --fix

update sidebar and theme preferences to use new toggle group
  src/components/preferences/sidebar.component.tsx
  src/components/preferences/theme.component.tsx
Due: eslint --fix

restore theme preference selection
  src/components/preferences/preferences.component.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

export sidebar and theme state types
  src/store/atoms/sidebar.ts
  src/store/atoms/theme.ts
Due: eslint --fix

remove old tailwind apply
  src/styles/components/tabs.css
Due: prettier --write

remove color from custom properties
  src/styles/components/input.css
Due: prettier --write

tweak toggle group colours
  public/css/dark.css
  public/css/light.css
Due: prettier --write

add selected custom properties and move data attribute rule inside component styles
  public/css/dark.css
  public/css/light.css
  src/styles/components/tabs.css
Due: prettier --write

rename custom property from active to selected
  public/css/dark.css
  public/css/light.css
  src/styles/components/toggle-group.css
Due: prettier --write

add missing background properties
  public/css/light.css
Due: prettier --write

fix color mix usage
  public/css/dark.css
Due: prettier --write

fetch all pages of factions
  src/services/api/spacetraders/factions.ts
Due: eslint --fix

remove select placeholder class
  src/styles/components/input.css
Due: prettier --write

add chevron up and down icons
  public/icons/app.svg
Due: none

badge and tags use inline block
  src/components/badge/badge.component.tsx
  src/components/system/tag/system-tag.module.css
  src/components/waypoint/tag/waypoint-tag.module.css
Due: eslint --fix, prettier --write

add active button scale effect
  src/styles/components/button.css
Due: prettier --write

fix button kind prop
  src/components/waypoint/filters/waypoint-type.component.tsx
Due: eslint --fix

add to sorted compare function
  src/components/waypoint/filters/waypoint-type.component.tsx
Due: eslint --fix

make placeholder text italic
  src/styles/components/input.css
Due: prettier --write

refactor select component to use radix select
  src/components/select/field.component.tsx
  src/components/select/group.component.tsx
  src/components/select/index.ts
  src/components/select/item.component.tsx
  src/components/select/label.component.tsx
  src/components/select/select.types.ts
  src/components/select/seperator.component.tsx
Due: eslint --fix

update register faction field to use new select component
  src/features/auth/register/register.component.tsx
Due: eslint --fix

use inline flex
  src/components/badge/badge.component.tsx
  src/components/system/tag/system-tag.module.css
  src/components/waypoint/tag/waypoint-tag.module.css
Due: eslint --fix, prettier --write

add default placeholder
  src/components/select/field.component.tsx
Due: eslint --fix

refactor ship select field to use new select component
  src/features/ship/select-field/ship-select-field.component.tsx
  src/features/ship/select-field/ship-select-field.types.ts
Due: eslint --fix

update all instances of ship select field
  src/features/contract/deliver/contract-deliver.form.tsx
  src/features/ship/cargo/controls/transfer/cargo-transfer.form.tsx
  src/features/trade-good/buy/trade-good-buy.form.tsx
  src/features/trade-good/sell/trade-good-sell.form.tsx
Due: eslint --fix

clean up trade good action disabled state
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/sell/trade-good-sell.component.tsx
Due: eslint --fix

add select placeholder strings
  public/locales/en/common.json
Due: prettier --write

move placeholder style inside select field
  src/components/select/field.component.tsx
  src/features/auth/register/register.component.tsx
Due: eslint --fix

switch preferences to use radix popover
  src/components/preferences/preferences.component.tsx
  src/components/preferences/preferences.module.css
Due: eslint --fix, prettier --write

add side offset prop
  src/components/select/field.component.tsx
Due: eslint --fix

create multi select component
  src/components/multi-select/field.component.tsx
  src/components/multi-select/index.ts
  src/components/multi-select/multi-select.group.tsx
  src/components/multi-select/multi-select.item.tsx
  src/components/multi-select/multi-select.module.css
  src/components/multi-select/multi-select.types.ts
Due: eslint --fix, prettier --write

refactor waypoint type filter to use new multi select
  src/components/waypoint/filters/waypoint-type.component.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,md,json}
