Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

move theme stylesheet out of component
  src/components/theme-style-sheet/theme-style-sheet.component.tsx
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix type linting
  src/utilities/dynamic.helper.ts
Due: eslint --fix

move meta attributes to route head function
  public/locales/en/meta.json
  src/routes/agents/agent/agent-route.meta.ts
  src/routes/agents/agents-route.meta.ts
  src/routes/conf/_auth/login.route.ts
  src/routes/conf/_auth/register.route.ts
  src/routes/conf/_dashboard.route.ts
  src/routes/conf/_dashboard/_authenticated/contracts.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/$shipSymbol.route.ts
  src/routes/conf/_dashboard/_authenticated/fleet/index.route.ts
  src/routes/conf/_dashboard/_authenticated/surveys.route.ts
  src/routes/conf/_dashboard/agents/$agentSymbol.route.ts
  src/routes/conf/_dashboard/agents/index.route.ts
  src/routes/conf/_dashboard/leaderboard.route.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/index.route.ts
  src/routes/conf/_dashboard/systems/$systemSymbol/waypoint/$waypointSymbol.route.ts
  src/routes/conf/_dashboard/systems/index.route.ts
  src/routes/contracts/contracts-route.meta.ts
  src/routes/core.route.tsx
  src/routes/dashboard/dashboard-layout.meta.ts
  src/routes/fleet/fleet-route.meta.ts
  src/routes/fleet/ship/ship-route.meta.ts
  src/routes/leaderboard/leaderboard-route.meta.ts
  src/routes/surveys/surveys-route.meta.ts
  src/routes/systems/system/system-route.meta.ts
  src/routes/systems/systems-route.meta.ts
  src/routes/systems/waypoint/waypoint-route.meta.ts
Due: eslint --fix, prettier --write

update link colour variable
  public/css/dark.css
  public/css/light.css
Due: prettier --write
