Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor system list to use table layout
  src/features/system/list/system-list.component.tsx
  src/features/system/list/system-list.types.ts
  src/features/system/list/system-table.component.tsx
Due: eslint --fix

show number of extra asteroids in system list
  src/features/system/list/system-table.component.tsx
Due: eslint --fix

add menu action items
  public/locales/en/common.json
Due: prettier --write

add login icon
  public/icons/menu.svg
Due: none

add more horizontal icon
  public/icons/app.svg
Due: none

create waypoint fleet empty component
  src/features/waypoint/fleet/waypoint-fleet.empty.tsx
Due: eslint --fix

create system fleet empty component
  src/features/system/fleet/system-fleet.empty.tsx
Due: eslint --fix

check authentication state for dashboard layout elements
  src/routes/dashboard/dashboard.layout.tsx
Due: eslint --fix

refactor routes and loaders to allow anonymous access for some routes
  src/routes/dashboard/dashboard.loader.ts
  src/routes/routes.conf.tsx
  src/routes/systems/system/system.loader.tsx
  src/services/api/spacetraders/fleet.ts
Due: eslint --fix

use empty fleet components
  src/features/system/fleet/system-fleet.component.tsx
  src/features/waypoint/fleet/waypoint-fleet-list.component.tsx
Due: eslint --fix

clear query client state when auth state changes
  src/store/auth.ts
Due: eslint --fix

handle authentication redirect in route error
  src/components/route-error/route-error.component.tsx
Due: eslint --fix

throw unauthorised redirect response
  src/utilities/with-auth.loader.ts
Due: eslint --fix

restructure auth required dashboard sections
  src/routes/routes.conf.tsx
Due: eslint --fix

redirect to the request url
  src/utilities/with-auth.loader.ts
Due: eslint --fix

remove awaiting system response
  src/routes/systems/systems.loader.tsx
Due: eslint --fix

create waypoint list fallback and error components
  src/features/waypoint/list/index.ts
  src/features/waypoint/list/waypoint-list.err.tsx
  src/features/waypoint/list/waypoint-list.fallback.tsx
Due: eslint --fix

improve query awaiting
  src/routes/systems/system/system.loader.tsx
Due: eslint --fix

move fleet store inside system tabs to fix suspense fallback
  src/features/system/tabs/system-tabs.component.tsx
  src/routes/systems/system/system.route.tsx
Due: eslint --fix

show number of ships in a system or at a waypoint
  src/features/system/list/system-list.component.tsx
  src/features/system/list/system-table.component.tsx
  src/features/waypoint/list/type-filter.component.tsx
  src/features/waypoint/list/waypoint-list.component.tsx
  src/features/waypoint/list/waypoint-table.component.tsx
Due: eslint --fix

add i18n number formatter
  src/services/i18n.ts
Due: eslint --fix

add translations for system and waypoint presence
  public/locales/en/common.json
Due: prettier --write

create ship presence component
  public/locales/en/common.json
  src/features/ship/presence/index.ts
  src/features/ship/presence/ship-presence.component.tsx
  src/features/system/list/system-table.component.tsx
  src/features/waypoint/list/waypoint-table.component.tsx
Due: eslint --fix, prettier --write

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

add route error spec file
  src/components/route-error/route-error.spec.tsx
Due: eslint --fix

fix destructuring of undefined object
  src/routes/fleet/ship/ship.loader.tsx
Due: eslint --fix

add more translation strings
  public/locales/en/common.json
Due: prettier --write

add general and ship cooldown translation strings
  public/locales/en/common.json
Due: prettier --write

use translation hook for interface text
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/ship/cooldown/ship-cooldown.component.tsx
  src/features/ship/detail/ship-detail-refresh.component.tsx
  src/features/ship/detail/ship-detail.component.tsx
  src/features/ship/detail/ship-detail.flight-mode.tsx
  src/features/ship/item/ship-item.component.tsx
  src/features/ship/item/ship-item.controls.tsx
  src/features/ship/list/ship-list-refresh.component.tsx
  src/features/ship/loadout/ship-loadout-list.component.tsx
  src/features/ship/status/ship-status.component.tsx
  src/features/ship/tabs/ship-tabs.component.tsx
  src/features/ship/transit/ship-transit.component.tsx
  src/features/ship/transit/ship-transit.status.tsx
  src/features/waypoint/market/waypoint-market-preferences.component.tsx
Due: eslint --fix

add relative time formatter
  src/services/i18n.ts
Due: eslint --fix

fix argument types
  src/components/pagination/use-pagination.hook.ts
  src/utilities/get-request-pagination.helper.ts
Due: eslint --fix

make ship action children required
  src/features/ship/actions/ship-actions.dock.tsx
  src/features/ship/actions/ship-actions.extract.tsx
  src/features/ship/actions/ship-actions.flight-mode.tsx
  src/features/ship/actions/ship-actions.install-mount.tsx
  src/features/ship/actions/ship-actions.jettison.tsx
  src/features/ship/actions/ship-actions.jump.tsx
  src/features/ship/actions/ship-actions.navigate.tsx
  src/features/ship/actions/ship-actions.orbit.tsx
  src/features/ship/actions/ship-actions.purchase-cargo.tsx
  src/features/ship/actions/ship-actions.refine.tsx
  src/features/ship/actions/ship-actions.refuel.tsx
  src/features/ship/actions/ship-actions.remove-mount.tsx
  src/features/ship/actions/ship-actions.sell-cargo.tsx
  src/features/ship/actions/ship-actions.survey.tsx
  src/features/ship/actions/ship-actions.types.ts
  src/features/ship/actions/ship-actions.warp.tsx
  src/features/ship/cargo/ship-cargo-list.component.tsx
Due: eslint --fix

don’t await waypoint market query
  src/routes/systems/waypoint/waypoint.loader.tsx
Due: eslint --fix

use more translation strings
  src/features/waypoint/tabs/waypoint-tabs.component.tsx
  src/routes/fleet/fleet.route.tsx
  src/routes/fleet/ship/loadout/ship-loadout.route.tsx
  src/routes/fleet/ship/market/ship-market.route.tsx
  src/routes/fleet/ship/ship.route.tsx
  src/routes/systems/system/system.route.tsx
  src/routes/systems/systems.route.tsx
  src/routes/systems/waypoint/waypoint.route.tsx
Due: eslint --fix

use key to ensure component instances are refreshed
  src/routes/fleet/ship/ship.route.tsx
  src/routes/systems/system/system.route.tsx
  src/routes/systems/waypoint/waypoint.route.tsx
Due: eslint --fix

add format date time helper
  src/utilities/date.ts
Due: eslint --fix

rename relative time formatter, add date time formatter
  public/locales/en/common.json
  src/services/i18n.ts
Due: eslint --fix, prettier --write

restore file extension
  src/routes/fleet/fleet.loader.ts
  src/routes/fleet/ship/ship.loader.ts
  src/routes/systems/system/system.loader.ts
  src/routes/systems/systems.loader.ts
  src/routes/systems/waypoint/waypoint.loader.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,md,json}
