Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

regenerate lockfile
  pnpm-lock.yaml
Due: none

use cached version of number formatter
  public/locales/en/common.json
  src/services/i18n.ts
Due: eslint --fix, prettier --write

replace number formatter function with i18n
  src/features/agent/detail/agent-detail.component.tsx
  src/features/agent/list/agent-list.columns.tsx
  src/features/contract/list/contract-list.columns.tsx
  src/features/leaderboard/list/leaderboard-list.component.tsx
  src/features/ship/cargo/ship-cargo-list.columns.tsx
  src/features/trade-good/buy/trade-good-buy.form.tsx
  src/features/trade-good/info/trade-good-info.component.tsx
  src/features/trade-good/sell/trade-good-sell.form.tsx
  src/features/waypoint/market/waypoint-market.columns.tsx
  src/features/waypoint/shipyard/waypoint-shipyard.columns.tsx
  src/templates/dashboard.tpl.tsx
Due: eslint --fix

use cached version of date formatters
  src/features/contract/list/contract-list.columns.tsx
  src/services/i18n.ts
  src/utilities/date.helper.ts
Due: eslint --fix

add colours and font sizes
  src/utilities/twm.helper.ts
Due: eslint --fix

add tailwind prettier plugin
  package.json
  pnpm-lock.yaml
Due: prettier --write

bringing eslint, prettier, stylelint back
  .prettierrc.json
  .stylelintrc.json
  eslint.config.js
  stylelint.config.js
Due: eslint --fix, prettier --write

fix tailwind spacing and typography variables
  src/styles/base.css
  src/styles/main.css
Due: prettier --write

add faction validation message
  public/locales/en/common.json
Due: prettier --write

move drawer store creation to new hook
  src/components/drawer/drawer.component.tsx
  src/components/drawer/use-drawer-store.hook.ts
Due: eslint --fix

move modal store creation to new hook
  src/components/modal/modal.component.tsx
  src/components/modal/use-modal-store.hook.ts
Due: eslint --fix

override theme colours and font sizes
  src/utilities/twm.helper.ts
Due: eslint --fix

update chunk file name output
  vite.config.ts
Due: eslint --fix

add field control slot with field control context hook
  src/components/field-control/field-control.component.tsx
  src/components/field-control/field-control.context.ts
  src/components/field-control/field-control.error-message.tsx
  src/components/field-control/field-control.hint.tsx
  src/components/field-control/field-control.input.tsx
  src/components/field-control/field-control.label.tsx
  src/components/field-control/field-control.slot.tsx
  src/components/field-control/index.ts
Due: eslint --fix

update register schema and types
  src/features/auth/register/register.schema.ts
Due: eslint --fix

remove empty email from payload
  src/services/api/spacetraders/auth.ts
Due: eslint --fix

move scroll restoration to router options
  src/routes/core.route.tsx
  src/routes/router.conf.ts
Due: eslint --fix

Move sentry initialisation and error boundary
  src/components/app/app.component.tsx
Due: eslint --fix

replace index of with includes
  src/features/waypoint/utilities/has-trait.helper.ts
Due: eslint --fix

exclude test files
  tsconfig.json
Due: prettier --write

remove old file
  src/services/i18n.ts
  src/services/sentry.ts
Due: eslint --fix

update env file linting
  env.d.ts
Due: eslint --fix

disable no unsafe assignment
  eslint.config.js
Due: eslint --fix

fix tailwind class order
  src/routes/router.fallback.tsx
Due: eslint --fix

regenerate lock file
  pnpm-lock.yaml
Due: none

update unbound method rule
  eslint.config.js
Due: eslint --fix

fix class order
  src/components/card/card.component.tsx
Due: eslint --fix

fix rule order
  src/styles/components/button.css
Due: prettier --write

remove biome config
  biome.json
Due: prettier --write
