Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,md,json}": "prettier --write"
}

rename toast item, and toast file names
  src/components/toast/index.ts
  src/components/toast/toast-container.component.tsx
  src/components/toast/toast-item.component.tsx
  src/components/toast/toast.element.tsx
  src/components/toast/toast.types.ts
Due: eslint --fix

add new z index property
  src/styles/main.css
Due: prettier --write

increase icon size
  src/components/modal/modal.close.tsx
Due: eslint --fix

add toast component styles
  src/styles/components/toast.css
  src/styles/main.css
Due: prettier --write

update toast classes and state hooks
  src/components/toast/toast-container.component.tsx
  src/components/toast/toast-item.component.tsx
  src/components/toast/toast.module.css
  src/components/toast/toast.store.ts
Due: eslint --fix, prettier --write

rename status codes and status messages
  src/components/route-error/route-error.component.tsx
  src/components/route-error/route-error.spec.tsx
  src/features/waypoint/market/waypoint-market.err.tsx
  src/services/http.ts
Due: eslint --fix

add keys generic type
  env.d.ts
Due: eslint --fix

prevent closing when clicking outside modal content
  src/components/modal/modal.root.tsx
Due: eslint --fix

update toast colours
  public/css/dark.css
  public/css/light.css
Due: prettier --write

add toast adornment, clean up styling
  src/components/toast/toast-container.component.tsx
  src/components/toast/toast-item.component.tsx
  src/components/toast/toast.store.ts
  src/components/toast/toast.types.ts
  src/styles/components/toast.css
Due: eslint --fix, prettier --write

update toast exports
  src/components/toast/index.ts
Due: eslint --fix

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

add toast container
  src/routes/core.route.tsx
Due: eslint --fix

bump up font size
  src/components/badge/badge.component.tsx
  src/components/system/tag/system-tag.module.css
  src/components/waypoint/tag/waypoint-tag.module.css
  src/features/ship/detail/ship-detail.component.tsx
  src/features/ship/status/ship-status.component.tsx
  src/features/ship/transit/ship-transit.component.tsx
  src/features/ship/transit/ship-transit.status.tsx
  src/styles/components/button.css
Due: eslint --fix, prettier --write

update viewport meta tag
  index.html
Due: none

add color scheme css property
  index.html
  public/css/dark.css
  public/css/light.css
Due: prettier --write

create modal header, title, and description components
  src/components/modal/index.ts
  src/components/modal/modal-description.component.tsx
  src/components/modal/modal-header.component.tsx
  src/components/modal/modal-title.component.tsx
  src/components/modal/modal.root.tsx
Due: eslint --fix

add missing label class
  src/features/contract/deliver/contract-deliver.form.tsx
  src/features/ship/cargo/controls/transfer/cargo-transfer.form.tsx
  src/features/trade-good/buy/trade-good-buy.form.tsx
  src/features/trade-good/sell/trade-good-sell.form.tsx
Due: eslint --fix

update modal content to use header and title components
  src/features/contract/deliver/contract-deliver.component.tsx
  src/features/ship/actions/ship-actions.scan-waypoints.tsx
  src/features/ship/cargo/controls/jettison/cargo-jettison.component.tsx
  src/features/ship/cargo/controls/transfer/cargo-transfer.component.tsx
  src/features/ship/cargo/ship-cargo-item.controls.tsx
  src/features/ship/transit/ship-transit.jump.tsx
  src/features/ship/transit/ship-transit.navigate.tsx
  src/features/ship/transit/ship-transit.warp.tsx
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/sell/trade-good-sell.component.tsx
Due: eslint --fix

update cargo transfer message
  public/locales/en/common.json
Due: prettier --write

move font file to fonts folder
  index.html
  public/fonts/space-grotesk.woff2
Due: none

remove height classes from scroll area root
  src/components/multi-select/multi-select-field.component.tsx
  src/components/select/select-field.component.tsx
Due: eslint --fix

use modal header and title in ship market overlay
  src/routes/fleet/ship/market/ship-market-route.component.tsx
Due: eslint --fix

update chunk file name pattern
  vite.config.ts
Due: eslint --fix

fix navigation loading condition
  src/routes/core.route.tsx
Due: eslint --fix

clean up usage of forwardref
  env.d.ts
  src/components/button/button.component.tsx
  src/components/dropdown/dropdown-checkbox-item.component.tsx
  src/components/dropdown/dropdown-item.component.tsx
  src/components/dropdown/dropdown-radio-group.component.tsx
  src/components/dropdown/dropdown-radio-item.component.tsx
  src/components/modal/modal.component.tsx
  src/components/multi-select/multi-select-item.component.tsx
  src/components/multi-select/multi-select-options.component.tsx
  src/components/select/select-group.component.tsx
  src/components/select/select-item.component.tsx
  src/components/toggle-group/toggle-group.item.tsx
  src/components/toggle-group/toggle-group.root.tsx
Due: eslint --fix

update uses of context provider and use hook
  src/components/error-boundary/error-boundary.component.tsx
  src/components/modal/modal.component.tsx
  src/components/modal/use-modal-store.hook.ts
  src/context/fleet.context.tsx
  src/context/ship.context.tsx
  src/context/system.context.tsx
  src/context/waypoint.context.tsx
  src/features/contract/list/contract-list.component.tsx
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/ship/status/ship-status.component.tsx
  src/features/ship/tabs/ship-tabs.component.tsx
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/sell/trade-good-sell.component.tsx
  src/features/waypoint/market/waypoint-market-list.component.tsx
  src/features/waypoint/market/waypoint-market.err.tsx
  src/features/waypoint/navigation/waypoint-navigation.component.tsx
  src/routes/dashboard/dashboard-layout.component.tsx
  src/routes/fleet/ship/market/ship-market-route.component.tsx
  src/routes/fleet/ship/ship-route.component.tsx
  src/routes/surveys/surveys-route.component.tsx
  src/routes/systems/system/system-route.component.tsx
  src/routes/systems/waypoint/waypoint-route.component.tsx
Due: eslint --fix

play around with using new state transition hook
  src/features/auth/login/login.component.tsx
Due: eslint --fix

create scroll area component
  src/components/scroll-area/index.ts
  src/components/scroll-area/scroll-area-bar.component.tsx
  src/components/scroll-area/scroll-area-root.component.tsx
  src/components/scroll-area/scroll-area-viewport.component.tsx
Due: eslint --fix

update scroll areas to new component
  src/components/modal/modal.root.tsx
  src/components/multi-select/multi-select-field.component.tsx
  src/components/select/select-field.component.tsx
Due: eslint --fix

add scroll area to table component
  src/components/table/table.component.tsx
Due: eslint --fix

dd default ref value
  src/components/modal/use-modal-imperative-handle.hook.ts
Due: eslint --fix

rename default open prop
  src/components/modal/modal.component.tsx
  src/components/modal/modal.types.ts
  src/routes/fleet/ship/overlay/ship-overlay-route.component.tsx
Due: eslint --fix

use imperative handle to open modal
  src/features/auth/register/register.component.tsx
Due: eslint --fix

upgrade dependencies, add vaul
  package.json
  pnpm-lock.yaml
Due: prettier --write
