Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

update stylelint rules
  .stylelintrc.json
Due: prettier --write

remove refine item and ship mount maps
  src/config/constants.ts
Due: eslint --fix

update logic for checking mounts and refine items
  src/features/ship/cargo/ship-cargo-list.component.tsx
Due: eslint --fix

make market trade good optional
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/buy/trade-good-buy.types.ts
  src/features/trade-good/sell/trade-good-sell.component.tsx
  src/features/trade-good/sell/trade-good-sell.types.ts
Due: eslint --fix

add can buy and can sell callbacks to trade good context
  src/features/trade-good/context/trade-good.context.ts
Due: eslint --fix

create ship cargo table component
  src/features/ship/cargo/ship-cargo-table.component.tsx
Due: eslint --fix

update column header size, show item description
  src/features/waypoint/market/waypoint-market-table.component.tsx
Due: eslint --fix

right align ship controls button
  src/features/ship/list/ship-list.table.tsx
Due: eslint --fix

update column header size, show item description
  src/features/ship/cargo/ship-cargo-table.component.tsx
Due: eslint --fix

remove ship cargo preferences
  src/features/ship/tabs/ship-tabs.component.tsx
Due: eslint --fix

update ship cargo fallback layout
  src/features/ship/cargo/ship-cargo.fallback.tsx
Due: eslint --fix

switch ship cargo layout to ship cargo table
  src/features/ship/cargo/ship-cargo-list.component.tsx
Due: eslint --fix

add translation strings for ship cargo table
  public/locales/en/common.json
Due: prettier --write

fix auth logout button
  src/routes/dashboard/dashboard.layout.tsx
Due: eslint --fix

add cargo market value tooltip
  public/locales/en/common.json
  src/features/ship/cargo/ship-cargo-table.component.tsx
Due: eslint --fix, prettier --write

add adornment prop to button
  src/components/button/button.component.tsx
  src/components/button/button.types.ts
  styles/components/button.scss
Due: eslint --fix

add prompt and confirmation translation strings
  public/locales/en/common.json
Due: prettier --write

add on done callback to ship jettison action
  src/features/ship/actions/ship-actions.jettison.tsx
Due: eslint --fix

update confirm jettison action and text contexts
  public/locales/en/common.json
Due: prettier --write

create ship cargo item controls component
  src/features/ship/cargo/ship-cargo-item.controls.tsx
Due: eslint --fix

add actions column for ship cargo item controls
  src/features/ship/cargo/ship-cargo-table.component.tsx
Due: eslint --fix

add orbits and orbitals translation strings
  public/locales/en/common.json
  src/features/waypoint/detail/waypoint-detail.component.tsx
Due: eslint --fix, prettier --write

remove unnecessary system and waypoint context providers
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/waypoint/detail/waypoint-detail.component.tsx
Due: eslint --fix

create array to map reducer
  src/utilities/reduce-array-to-map.helper.ts
Due: eslint --fix

reduce market goods arrays to maps, update can buy and can sell checks
  src/features/ship/cargo/ship-cargo-list.component.tsx
  src/features/waypoint/market/waypoint-market-list.component.tsx
Due: eslint --fix

remove boolean function
  src/features/trade-good/buy/trade-good-buy.component.tsx
  src/features/trade-good/sell/trade-good-sell.component.tsx
Due: eslint --fix

add translation strings for leaderboard section
  public/locales/en/common.json
  src/features/leaderboard/agent/leaderboard-agent.component.tsx
  src/features/leaderboard/list/leaderboard-list.component.tsx
  src/routes/leaderboard/agent/agent.route.tsx
  src/routes/leaderboard/leaderboard.layout.tsx
  src/routes/leaderboard/leaderboard.loader.ts
  src/routes/leaderboard/leaderboard.route.tsx
Due: eslint --fix, prettier --write

move ship nav detail into ship status component
  src/features/ship/detail/ship-detail.component.tsx
  src/features/ship/status/ship-status.component.tsx
Due: eslint --fix

increase number of fallback items
  src/features/ship/transit/ship-transit.navigate.tsx
Due: eslint --fix

refactor waypoint navigation table to inject navigate action via context
  src/context/waypoint-navigation-action.context.ts
  src/features/waypoint/navigation/waypoint-navigation.action.tsx
  src/features/waypoint/navigation/waypoint-navigation.component.tsx
  src/features/waypoint/navigation/waypoint-navigation.table.tsx
  src/features/waypoint/navigation/waypoint-navigation.types.ts
Due: eslint --fix

remove uppercase text transform
  src/components/system/tag/system-tag.component.tsx
  src/components/waypoint/tag/waypoint-tag.component.tsx
Due: eslint --fix

update snapshots
  src/components/system/tag/system-tag.spec.tsx
  src/components/waypoint/tag/waypoint-tag.spec.tsx
Due: eslint --fix

remove market and shipyard queries when ship nav status changes
  src/features/ship/actions/ship-actions.navigate.tsx
  src/features/ship/transit/use-ship-transit.hook.ts
Due: eslint --fix

let remaining seconds to drop below zero since zero is still in transit
  src/features/ship/transit/use-ship-transit.hook.ts
Due: eslint --fix

add transit status and improve progress percentage calculation
  src/features/ship/transit/ship-transit.status.tsx
  src/features/ship/transit/use-ship-transit.hook.ts
Due: eslint --fix

create survey feature components
  src/features/survey/actions/index.ts
  src/features/survey/actions/survey-action.discard.tsx
  src/features/survey/actions/survey-action.extract.tsx
  src/features/survey/context/index.ts
  src/features/survey/context/survey.context.ts
  src/features/survey/list/index.ts
  src/features/survey/list/survey-list.columns.tsx
  src/features/survey/list/survey-list.component.tsx
  src/features/survey/list/survey-list.table.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,md,json}
