Repository benweier/wayfarer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

update contract translation strings
  public/locales/en/common.json
  src/features/contract/deliver/contract-deliver.component.tsx
  src/features/contract/list/contract-list.component.tsx
Due: eslint --fix, prettier --write

align contract row action column
  src/features/contract/list/contract-list.columns.tsx
Due: eslint --fix

add surveys icons
  public/icons/menu.svg
Due: none

update sort action to use icon button style
  src/components/table/sort.action.tsx
Due: eslint --fix

tweak button variant paddings
  styles/components/button.scss
Due: none

replace grid classes
  src/routes/contracts/contract/contract.route.tsx
  src/routes/contracts/contracts.route.tsx
Due: eslint --fix

use icon button variant
  src/features/survey/actions/survey-action.discard.tsx
Due: eslint --fix

update survey list column text
  src/features/survey/list/survey-list.columns.tsx
Due: eslint --fix

use a predicate prop to filter survey list
  src/features/ship/tabs/ship-tabs.component.tsx
  src/features/survey/list/survey-list.component.tsx
  src/features/survey/list/survey-list.types.ts
Due: eslint --fix

default sort by expiration
  src/features/survey/list/survey-list.table.tsx
Due: eslint --fix

add new navigation item translation strings
  public/locales/en/common.json
Due: prettier --write

mark predicate as optional
  src/features/survey/list/survey-list.types.ts
Due: eslint --fix

fix distance column value
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
Due: eslint --fix

move survey context out of survey list feature
  src/features/ship/tabs/ship-tabs.component.tsx
  src/features/survey/list/survey-list.component.tsx
Due: eslint --fix

tweak styles of ship transit progress
  src/features/ship/list/ship-list.columns.tsx
  src/features/ship/transit/ship-transit.status.tsx
Due: eslint --fix

create surveys route
  public/locales/en/common.json
  src/routes/routes.conf.tsx
  src/routes/surveys/index.ts
  src/routes/surveys/surveys.loader.ts
  src/routes/surveys/surveys.route.tsx
Due: eslint --fix, prettier --write

replace ship survey store with agent survey store
  src/features/ship/actions/ship-actions.extract.tsx
  src/features/ship/actions/ship-actions.survey.tsx
  src/features/survey/actions/survey-action.discard.tsx
  src/features/survey/list/survey-list.component.tsx
  src/store/ship/index.ts
  src/store/ship/survey.ts
  src/store/surveys.ts
Due: eslint --fix

rename auth store exports
  src/routes/auth/with-auth.loader.ts
  src/routes/dashboard/dashboard.loader.ts
  src/routes/routes.conf.tsx
  src/routes/surveys/surveys.loader.ts
  src/routes/systems/system/system.loader.ts
  src/services/api/spacetraders/contracts.ts
  src/services/api/spacetraders/core.ts
  src/services/api/spacetraders/fleet.ts
  src/store/auth.ts
  src/store/surveys.ts
Due: eslint --fix

rename modal store argument
  src/components/modal/modal.store.ts
Due: eslint --fix

rename survey store exports
  src/routes/surveys/surveys.loader.ts
  src/store/surveys.ts
Due: eslint --fix

remove loader from surveys route
  src/routes/routes.conf.tsx
Due: eslint --fix

move auth handling into get surveys action
  src/features/survey/list/survey-list.component.tsx
  src/store/surveys.ts
Due: eslint --fix

use column value in contract link
  src/features/contract/list/contract-list.columns.tsx
Due: eslint --fix

return to flat array of surveys
  src/features/ship/actions/ship-actions.survey.tsx
  src/features/survey/list/survey-list.component.tsx
  src/store/surveys.ts
Due: eslint --fix

improve table cell alignment
  src/components/table/row.component.tsx
  src/features/waypoint/shipyard/waypoint-shipyard.columns.tsx
Due: eslint --fix

remove old contract item feature
  src/features/contract/item/contract-item.component.tsx
  src/features/contract/item/contract-item.types.ts
  src/features/contract/item/deliver-contract.component.tsx
  src/features/contract/item/deliver-contract.validation.ts
  src/features/contract/item/index.ts
Due: eslint --fix

add waypoint navigation fallback
  src/features/ship/list/ship-list-item.controls.tsx
  src/features/ship/transit/ship-transit.navigate.tsx
  src/features/waypoint/navigation/index.ts
  src/features/waypoint/navigation/waypoint-navigation.fallback.tsx
Due: eslint --fix

add tanstack router package
  package.json
  pnpm-lock.yaml
  src/routes/systems/system/system.route.tsx
  src/routes/systems/systems.route.tsx
Due: eslint --fix, prettier --write

remove react router instrumentation
  src/services/sentry.ts
Due: eslint --fix

load language only
  src/services/i18n.ts
Due: eslint --fix

rebuild routes to use tanstack router
  src/routes/agent.route.ts
  src/routes/agents.routes.ts
  src/routes/auth.route.tsx
  src/routes/contracts.route.ts
  src/routes/core.route.tsx
  src/routes/dashboard.route.ts
  src/routes/fleet.route.tsx
  src/routes/leaderboard.route.ts
  src/routes/not-found.route.ts
  src/routes/root.route.ts
  src/routes/router.conf.d.ts
  src/routes/router.conf.tsx
  src/routes/routes.conf.tsx
  src/routes/ship.route.ts
  src/routes/surveys.route.ts
  src/routes/system.route.ts
  src/routes/systems.route.ts
  src/routes/waypoint.route.ts
Due: eslint --fix

rename route component files and exports
  src/routes/agents/agent/agent-route.component.tsx
  src/routes/agents/agent/agent.route.tsx
  src/routes/agents/agent/index.ts
  src/routes/agents/agents-route.component.tsx
  src/routes/agents/index.ts
  src/routes/auth/auth-route.component.tsx
  src/routes/auth/auth.route.tsx
  src/routes/auth/index.ts
  src/routes/contracts/contract/contract-route.component.tsx
  src/routes/contracts/contract/index.ts
  src/routes/contracts/contracts-route.component.tsx
  src/routes/contracts/index.ts
  src/routes/dashboard/dashboard-layout.component.tsx
  src/routes/dashboard/dashboard.layout.tsx
  src/routes/dashboard/index.ts
  src/routes/fleet/fleet-route.component.tsx
  src/routes/fleet/index.ts
  src/routes/fleet/ship/index.ts
  src/routes/fleet/ship/ship-route.component.tsx
  src/routes/home/home-route.component.tsx
  src/routes/home/home.route.tsx
  src/routes/home/index.ts
  src/routes/leaderboard/index.ts
  src/routes/leaderboard/leaderboard-route.component.tsx
  src/routes/root.route.ts
  src/routes/surveys/index.ts
  src/routes/surveys/surveys-route.component.tsx
  src/routes/systems/index.ts
  src/routes/systems/system/index.ts
  src/routes/systems/system/system-route.component.tsx
  src/routes/systems/systems-route.component.tsx
  src/routes/systems/waypoint/index.ts
  src/routes/systems/waypoint/waypoint-route.component.tsx
Due: eslint --fix

rename auth store export
  src/routes/auth/with-auth.loader.ts
  src/routes/dashboard/dashboard.loader.ts
  src/routes/surveys/surveys.loader.ts
  src/services/api/spacetraders/contracts.ts
  src/services/api/spacetraders/core.ts
  src/services/api/spacetraders/fleet.ts
  src/store/auth.ts
Due: eslint --fix

use route objects with link components
  src/routes/dashboard/dashboard-layout.component.tsx
Due: eslint --fix

migrate react router links to tanstack router links
  src/features/agent/list/agent-list.columns.tsx
  src/features/auth/login/login.component.tsx
  src/features/auth/register/register.component.tsx
  src/features/contract/list/contract-list.columns.tsx
  src/features/leaderboard/list/leaderboard-list.component.tsx
  src/features/navigation/navigation.component.tsx
  src/features/ship/list/ship-list.columns.tsx
  src/features/ship/status/ship-status.component.tsx
  src/features/ship/transit/ship-transit.component.tsx
  src/features/system/fleet/system-fleet.empty.tsx
  src/features/system/list/system-list.columns.tsx
  src/features/system/list/waypoints-cell.component.tsx
  src/features/waypoint/detail/waypoint-detail.component.tsx
  src/features/waypoint/fleet/waypoint-fleet.empty.tsx
  src/features/waypoint/list/waypoint-list.columns.tsx
  src/features/waypoint/navigation/waypoint-navigation.columns.tsx
Due: eslint --fix

switch react router provider to tanstack router provider
  src/components/app/app.component.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

replace use pagination hook with component props
  src/features/system/list/system-list.component.tsx
  src/features/system/list/system-list.types.ts
Due: eslint --fix

update manual core chunk with tanstack router
  vite.config.ts
Due: eslint --fix

rename ship market route export
  src/routes/fleet/ship/market/index.ts
  src/routes/fleet/ship/market/ship-market-route.component.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,md,json}
